<form method="POST" action="/puppies/{{id}}">
  <input type="hidden" name="id" value="{{id}}"/>
  <label>Name<input type="text" name="name" value="{{name}}"/></label><br/>
  <label>Owner<input type="text" name="owner" value="{{owner}}"/></label><br/>
  <label>Image<input type="text" name="image" value="{{image}}"/></label><br/>
  <label>Breed<input type="text" name="breed" value="{{breed}}"/></label><br/>

  <input type="submit" />
</form>
